@page
@using Microsoft.AspNetCore.Identity
@using BlogApp.Models
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model BlogApp.Pages.BlogModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            @foreach (var bp in Model.BlogPost)
            {
                @if (bp.AuthorFK == UserManager.GetUserId(User))
                {
                    <div>
                        <h1 class="display-4">@bp.Title</h1>
                        <small>@bp.DatePosted</small>
                        <div>
                            @if (!string.IsNullOrWhiteSpace(bp.Content))
                            {
                                var lines = bp.Content.Split(new[] { '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries);
                                foreach (var line in lines)
                                {
                                    <p class="lead">@line</p>
                                }
                            }
                        </div>
                    </div>
                    <br />
                }
            }
        </div>
        <div class="col-md-4">
            <p class="lead">@User.Identity.Name</p>
        </div>
    </div>
</div>
